
.date-style {
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;

}

.chat-name-head {
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

}
.chat-date {
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
color: #A19791;
}

.chat-scroll {
  height: 110px;
  min-height: 75vh;
  position: relative;
  overflow-y: scroll;
}